body{
    margin: 1.5px;
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}
#header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xxx-large;
    text-transform: uppercase;
    text-align: center;
}
li .label{
    font-weight: bold;
    font-size: large;
}
#information{
    max-width: 1500px;
    margin-left: 190px;
    width: 50%;
}
#alden{
    margin: auto;
    max-width: 350px;
    padding: 20px;
    width: 100%;
    height: 70%;
    margin-left: 100px;
}
li{
    list-style: none;
}
hr{
    height: 5px;
    background-color: black;
}
.container{
    display: flex;
}
.motto{
    font-style: italic;
}
.footer{
    display: flex;
    align-items: center;
    gap: 10px;
}
a{
    text-decoration: none;
    color: black;
}
#contacts{
    justify-content: right;
    display: flex;
    gap: 10px;
    margin: auto;
}
#contacts li a{

    display: block;
    padding: 10px;
    border-radius: 50px;
}
a:hover{
    background-color: lightblue;
    transition: 0.5s ease-in-out;
}
hr{
    border-radius: 5px;
}
#alden{
    border-radius: 50%;
}
